body {
    background-image: url("../img/wallpaper_inicio.jpg");
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botoes {
    width: 20vw;
    height: 50px;
    background-color: azure;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    border: 3px solid rgb(117, 117, 117);
    padding: 0;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    color: black;
    margin-bottom: 20px;
}

.botoes img {
    width: 40px;
    padding: 10px;
    transition: all .2s;
}

.botoes span {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}

.botoes:hover img{
    transform: rotate(45deg);
}

.botoes:hover span {
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #000 0px 0px 5px, #000 0px 0px 10px, #000 0px 0px 25px;
}

#tituloJogo {
    width: 50vw;
}