@font-face {
    font-family: "Ethno";
    src: url("../fonts/ethnocentricrg.otf");
  }

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: Ethno;
}
.telaJogo {
    width: 100%;
    height: 100%;
}

#modalPopUpPergunta {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    height: 100%;
    text-align: center; 
    justify-content: flex-end;
    color: white;
    visibility: hidden;
}

.pergunta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #0000ff9f;
    border: 2px solid white;
    padding: 10px 0;
    border-radius: 10px;
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.respostas {
    cursor: pointer;
    user-select: none;
    
}

.setas_pergunta {
    width: 1rem;
    padding: 0 5px;
    visibility: hidden;    
}

.respostas:hover .setas_pergunta{
    visibility: visible;
}