body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.telaJogo {
    width: 100%;
    height: 100%;
}

#modalPopUpPergunta {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    height: 100%;
    text-align: center; 
    justify-content: center;
    color: white;
    visibility: hidden;
}

.pergunta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}